[phases.setup]
nixPkgs = ["python311", "playwright-driver"]

[phases.install]
cmds = ["pip install -r requirements.txt", "playwright install chromium"]

[phases.build]
cmds = ["playwright install-deps chromium"]
