[phases.setup]
nixPkgs = ["python39", "ffmpeg"]
aptPkgs = ["libglib2.0-0", "libnss3", "libnspr4", "libatk1.0-0", "libatk-bridge2.0-0", "libcups2", "libdrm2", "libxkbcommon0", "libxcomposite1", "libxdamage1", "libxfixes3", "libxrandr2", "libgbm1", "libpango-1.0-0", "libcairo2", "libasound2"]

[variables]
PLAYWRIGHT_BROWSERS_PATH = "/app/.playwright"

[phases.install]
cmds = ["python -m pip install -r requirements.txt", "mkdir -p /app/.playwright", "PLAYWRIGHT_BROWSERS_PATH=/app/.playwright playwright install chromium"]

[start]
cmd = "PLAYWRIGHT_BROWSERS_PATH=/app/.playwright playwright install chromium && PLAYWRIGHT_BROWSERS_PATH=/app/.playwright python api/index.py"
