[phases.setup]
nixPkgs = ["python39", "chromium", "glib", "nss", "nspr", "dbus", "atk", "cups", "libdrm", "gtk3", "pango", "cairo", "gdk-pixbuf", "libxcomposite", "libxcursor", "libxdamage", "libxext", "libxfixes", "libxi", "libxrandr", "libxrender", "libxscrnsaver", "libxtst", "alsa-lib", "at-spi2-atk", "at-spi2-core"]

[variables]
PLAYWRIGHT_BROWSERS_PATH = "/app/.playwright"

[phases.install]
cmds = ["python -m pip install -r requirements.txt", "playwright install chromium", "playwright install-deps chromium"]

[start]
cmd = "python api/index.py"
